

.leftflow {
  float: left;
}

h1 {
text-align: center;
    font-family: "Arial";
}

body {
    background-color: gainsboro;
}

p {
    font-family: "Arial";
    font-size: 16px;
}

#huemin {
-webkit-appearance: none;
-webkit-border-radius: 3px;
background-image: url('../media/slider.jpg');
width:380px;
height: 5px;
}
#huemax {
-webkit-appearance: none;
-webkit-border-radius: 3px;
background-image: url('../media/slider.jpg');
width:380px;
height: 5px;
}